html, body {
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    touch-action: none;
    overflow: hidden;
    display: block;
    background-color: #2d3544;
}
#title {
    position: absolute; 
    top: 50px; 
    /* left: 0px;  */
    color: aliceblue;
    font-family: "Lucida Console", "Courier New", monospace;
}
canvas {
    display: block;
    margin: auto;
    outline: 3px solid #66c2fb;
    outline-offset: -8px;
    background-color: #333;
}

.containerCanvas {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Console", "Courier New", monospace;
    /* background-color: #bda9f3; */
}

/* Mobile landscape orientation */
@media only screen and (orientation: portrait) {
    #cvs {
        transform: rotate(90deg);
        transform-origin: center center;
    }
    /* Center the canvas inside the container */
    .containerCanvas {
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #a9cbf3; */
    }
}